@import './utils/vars';
@import './utils/reset';
@import './utils/common';
@import './utils/container';

@import './components/main-header';
@import './components/template-card';
@import './components/gallery';
@import './components/library-header';
@import './components/library-gallery';
@import './components/film-modal';
@import './components/trailer-modal';
@import './components/footer';
@import './components/students-modal';
