h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    display: block;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

body,
button, 
a {
    cursor: url('/src/images/cursor-vector.svg'), auto;
    
}