:root {
    --primary-text-color: #000000;
    --secondary-text-color: #8C8C8C;
    --accent-color: #B92F2C;
    --primary-white-color: #ffffff;
    --footer-color: #F7F7F7;
// ========================== Accent color Pagination
  --accentBtnColor: #ff6b02;
  --notificationTextColor: #ff001b;
  --secondaryTextColor: #545454;
// ============================================
  --timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}