
    <button type="button" class="modal__close-button" data-modal-close>
        <svg class="modal__close-button-svg" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2"/>
        </svg>
	</button>
    <div class="modal__info">
        <div class="modal__poster">
            <img class="modal__poster-img" src="./images/cimena-hall-small.jpg">
        </div>
        <div class="modal__info-conteiner">
            <h2 class="modal__movie-title">
                A FISTFUL OF LEAD
            </h2>
            <div class="modal__movie-info">
                <div class="modal__info-name">
                    <ul class="modal__info-name-list list">
                        <li class="modal__info-name-item">
                            Vote / Votes
                        </li>
                        <li class="modal__info-name-item">
                            Popularity
                        </li>
                        <li class="modal__info-name-item">
                            Original Title
                        </li>
                        <li class="modal__info-name-item">
                            Genre
                        </li>
                    </ul>
                </div>
                <div class="modal__info-value">
                    <ul class="modal__info-value-list list">
                        <li class="modal__info-value-item">
                            <span class="modal__span-vote">
                                7.3
                            </span> 
                            /
                            <span class="modal__span-votes">
                                1260
                            </span>
                        </li>
                        <li class="modal__info-value-item">
                            100.2
                        </li>
                        <li class="modal__info-value-item">
                            A FISTFUL OF LEAD
                        </li>
                        <li class="modal__info-value-item">
                            Western 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal__about">
                <h3 class="modal__about-title">
                    About 
                </h3>
                <p class="modal__movie-description">
                    Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
                </p>
            </div>
            <div class="modal__buttons">
                <ul class="modal__button-list list">
                    <li class="modal__button-item">
                        <button class="modal__button-watched" type="button">
                            add to Watched
                        </button>
                    </li>
                    <li class="modal__button-item">
                        <button class="modal__button-queue" type="button">
                            add to queue
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>