<div class="backdrop visually-hidden" data-modal>
    <div class="modal__movie container">
        <button type="button" class="modal__close-button" data-modal-close>
            <svg class="modal__close-button-svg" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2"/>
            </svg>
        </button>
        <button class="modal__watch-treller" type="button">Watch the trailer</button>
        <div class="modal__info">
        </div>
        <div class="modal__buttons">
            <ul class="modal__button-list list">
                <li class="modal__button-item">
                    <button class="modal__button-watched" type="button">
                        add to Watched
                    </button>
                </li>
                <li class="modal__button-item">
                    <button class="modal__button-queue" type="button">
                        add to queue
                    </button>
                </li>
            </ul>
        </div>
    
    </div>
</div>