<header>
    <div class="container">
        <div class="wrap">
            <div class="header-wrap">

                <nav class="nav">
                    <ul class=" nav nav__list list">
                        <li><a href="../index.html" class="nav nav__link link">Home</a></li>
                        <li><a href="../mylibrary.html" class="nav nav__link nav__link--current link">My Library</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="collection">
                <ul class=" collection__list list">
                    <li><a href="../index.html" class=" collection__link link">Watched</a></li>
                    <li><a href="../index.html" class=" collection__link link">Queue</a></li>
                </ul>
            </div>
        </div>

        <a href="../index.html" class="header-logo"><img class="header-logo__img" src="../images/film.svg" alt=""></a>
    </div>
</header>