<header>
  <div class="container">
    <div class="container-header">
      <div class="header-wrap">
        <form action="" class="search-bar">
          <input
            class="search-bar__input"
            type="text"
            placeholder="Movie search"
            name="search"
          />
          <button type="submit" class="search-bar__btn">
            <svg class="search-bar__img" width="16" height="16">
                <use href='./images/symbol-defs.svg#icon-search'></use>
            </svg>
          </button>
        </form>
        <nav class="nav">
          <ul class="nav nav__list list">
            <li>
              <a
                href="./index.html"
                class="nav nav__link nav__link--current link"
                >Home</a
              >
            </li>
            <li>
              <a href="./mylibrary.html" class="nav nav__link link"
                >My Library</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <a href="./index.html" class="header-logo link">
    <svg class="header-logo__svg" width="32" height="32">
        <use href='./images/symbol-defs.svg#icon-film'></use>
    </svg>
        <span class="logo-text">Filmoteka</span></a
      >
    </div>
  </div>
</header>
