<div class="members__backdrop is-hidden-members container" id="members__backdrop" data-members-modal>
    
        <div class="members__modal">
            <button type="button" 
            class="members__modal-close-btn" 
            data-members-modal-close-btn>
                <svg class="modal__close-btn-svg" width="30" height="30" aria-label="Linkedin">
                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-close-button"></use>
                </svg>
            </button>
    
            <h3 class="modal-title">Developed by GoIT Students:</h3>
            <div class="members-swiper swiper">
                <ul class="members-container swiper-wrapper">
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/olha_hd.jpg" alt="member of our group">
                        <h2 class="members-name">Ольга Гомес Довбуш</h2>
                        <p class="members-descr">SCRUMmaster</p>
                            <div class="socials">
                                <a href="https://www.linkedin.com/in/olha-homes-dovbush/" class="social-link">
                                    <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                        <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                                <a href="https://github.com/Olya2806" class="social-link">
                                    <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                        <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                    </svg>
                                </a>
                            </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/natalia_s.jpg" alt="member of our group">
                        <h2 class="members-name">Наталія Самохвалова</h2>
                        <p class="members-descr">TeamLead</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/nataliia-samokhvalova-235859251/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/Samokhvalova-Nata" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/ivan_a.jpg" alt="member of our group">
                        <h2 class="members-name">Іван <br> Андрусишин</h2>
                        <p class="members-descr">FrontEnd Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/ivan-andrusyshyn/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/Ivan-Andrusyshyn" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/nadia_o.jpg" alt="member of our group">
                        <h2 class="members-name">Надія <br> Оліфірова</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/%D0%BD%D0%B0%D0%B4%D1%96%D1%8F-%D0%BE%D0%BB%D1%96%D1%84%D1%96%D1%80%D0%BE%D0%B2%D0%B0-b5178b163/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/NadiaOl" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/daria.jpg" alt="member of our group">
                        <h2 class="members-name">Дар'я <br> Мішустіна</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/daria-punda-673a16211/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/DariaPunda" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/nastia_p.jpg" alt="member of our group">
                        <h2 class="members-name">Анастасія Пастухова</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="#" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/NastiaPast" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/Nataliia_Kurylo.jpg" alt="member of our group">
                        <h2 class="members-name">Наталія <br> Курило</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="#" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/NataKurylo" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/olex_l.jpg" alt="member of our group">
                        <h2 class="members-name">Олексій <br> Ликов</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/oleksy-lykov-461ab2243/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/lukovjr" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/osha.jpg" alt="member of our group">
                        <h2 class="members-name">Ольга <br> Дмитренко</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/oshaleyko/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/oshaleyko59" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/Valerii.jpg" alt="member of our group">
                        <h2 class="members-name">Валерій <br> Пометун</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="#" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/Valerii2022" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="members-item swiper-slide">
                        <img class="members-img" src="./images/foto/vadym.jpg" alt="member of our group">
                        <h2 class="members-name">Вадим Звершхановський</h2>
                        <p class="members-descr">FrontEnd  Developer</p>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/%D0%B2%D0%B0%D0%B4%D0%B8%D0%BC-zvershkhanovskyi-460003273/" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://github.com/Zversh3108" class="social-link">
                                <svg class="icon-svg" width="30" height="30" aria-label="Linkedin">
                                    <use class="icon-svgs" href="./images/symbol-1-defs.svg#icon-Octicons-mark-github-1"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>