<div class="trailer backdrop visually-hidden" data-trailer-modal>
  <div class="trailer__modal">
    <img
      class="trailer__close-icon"
      src="./images/close.svg"
      alt="Close icon"
      data-trailer-close
    />
    <div class="trailer__iframe-wrap" data-iframe>
      <!-- <iframe
        class="trailer__iframe"
        src="https://www.youtube.com/embed/ViKnrHjzgn4"
        title="Official trailer"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe> -->
    </div>
  </div>
</div>
