.modal__movie {
    position: relative;
    margin-top: 76px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
        @media screen and(min-width:768px) {
            max-width: 704px;
            padding: 0 36px;
        }
        @media screen and(min-width:1280px) {
            max-width: 806px;
            padding: 0 12px;
        }
}

.modal__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
}

.modal__close-button:hover,
.modal__close-button:focus {
    background-color: var(--accent-color);
    transition: background-color var(--transition);
}

.modal__close-button-svg {
    fill: currentColor;
    position: absolute;
}
.modal__info {
    display: flex;
    flex-direction: column;
        @media screen and(min-width:768px) {
            flex-direction: row;
            gap: 68px;
            margin-top: 40px;
        }
        @media screen and(min-width:1280px) {
            gap: 16px;
        }
}

.modal__poster {
    margin-top: 48px;
        @media screen and(min-width:768px) {
            max-width: 264px;
            height: 374px;
            margin-top: 0px;
        }
        @media screen and(min-width:1280px) {
            max-width: 375px;
            height: 478px;
        }
}

.modal__poster-img {
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.modal__info-conteiner {
    @media screen and(min-width:768px) {
        max-width: 264px;
        }
    @media screen and(min-width:1280px) {
        max-width: 391px;
        }
}

.modal__movie-title {
    font-size: 20px;
    line-height: 1.15;
    color: var(--primary-text-color);
    margin-top: 20px;
        @media screen and(min-width:768px) {
            margin-top: 0px;
        }
        @media screen and(min-width:1280px) {
            font-size: 30px;
            line-height: 1.17;
        }
}

.modal__movie-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 41px;
    font-size: 12px;
    line-height: 1.33;
        @media screen and(min-width:1280px) {
            gap: 83px;
        }
}

.modal__info-name-item {
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.modal__info-value-item {
    color: #000000;
    margin-bottom: 8px;
}
.modal__span-vote, .modal__span-votes {
    border-radius: 100px;
    width: 36px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
}
.modal__span-vote {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.modal__span-votes {
    background-color: var(--footer-color);
}

.modal__about-title {
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-top: 12px;
}

.modal__movie-description {
    font-size: 12px;
    line-height: 1.66;
    color: var(--primary-text-color);
    margin-top: 8px;
}

.modal__buttons {
    margin-top: 20px;
    margin-bottom: 40px;
        @media screen and(min-width:768px) {
            margin-bottom: 64px;
        }    
        @media screen and(min-width:1280px) {
            margin-bottom: 113px;
        }
}

.modal__button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
        @media screen and(min-width:768px) {
            gap: 8px;
        }
        @media screen and(min-width:1280px) {
            justify-content: left;
        }
}

.modal__button-watched,
.modal__button-queue {
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    width: 125px;
    height: 34px;
    border-radius: 100px;
    border: 1px solid #000000;
    color: var(--accent-color);
    background-color: var(--primary-white-color);
        @media screen and(min-width:1280px) {
            width: 165px;
            height: 42px;
        }
}

.modal__button-watched:hover,
.modal__button-watched:focus,
.modal__button-queue:hover,
.modal__button-queue:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transition: background-color var(--transition);
}