.gallery-section {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}
.film__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
