.container-header {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: space-between;

  max-width: 100%;
  height: 316px;
  background-image: linear-gradient(
      273.67deg,
      rgba(0, 0, 0, 0.49) -2.09%,
      rgba(0, 0, 0, 0) 99.83%
    ),
    url(../images/background-desktop.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .container-header {
    height: 460px;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url(../images/background-mob.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.67deg,
          rgba(0, 0, 0, 0.49) -2.09%,
          rgba(0, 0, 0, 0) 99.83%
        ),
        url(../images/background-mob-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    max-height: 222px;

    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url(../images/background-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.67deg,
          rgba(0, 0, 0, 0.49) -2.09%,
          rgba(0, 0, 0, 0) 99.83%
        ),
        url(../images/background-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .container-header {
    max-height: 316px;

    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url(../images/background-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.67deg,
          rgba(0, 0, 0, 0.49) -2.09%,
          rgba(0, 0, 0, 0) 99.83%
        ),
        url(../images/background-desktop-2x.jpg);
    }
  }
}

.header-wrap {
  display: flex;
}

@media screen and (min-width: 320px) {
  .header-wrap {
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header-wrap {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 0;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrap {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
  }
}

.search-bar {
  position: relative;
  width: 100%;

  border-radius: 100px;
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .search-bar {
    height: 34px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 14px;
  }
}

@media screen and (min-width: 768px) {
  .search-bar {
    width: 165px;
    height: 38px;
    padding: 11px 16px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .search-bar {
    width: 187px;
  }
}

.search-bar__input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .search-bar__input {
    font-size: 14px;
    line-height: 1.14;
  }
}

.search-bar__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);

  right: 10px;
  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.search-bar__img {
  width: 16px;
  height: 16px;
  fill: transparent;
  justify-content: center;
  stroke: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .search-bar__img {
    width: 14px;
    height: 14px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav__list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.nav__link {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 14px 32px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  height: 34px;
  transition: color var(--transition), background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    height: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .nav__link {
    height: 42px;
  }
}

.nav__link--current {
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);
}

.header-logo {
  gap: 8px;
  display: flex;
  align-items: center;

  padding-left: 45px;
  padding-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;

  color: var(--primary-white-color);
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
  &:hover .header-logo__svg,
  &:focus .header-logo__svg {
    stroke: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding-left: 16px;
    padding-bottom: 16px;

    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo {
    padding-left: 32px;
    padding-bottom: 32px;

    font-size: 64px;
    line-height: 1.17;

    gap: 16px;
    // min-width: 375px;
  }
}

.header-logo__svg {
  width: 32px;
  height: 32px;
fill: transparent;
  stroke: var(--primary-white-color);
  transition: stroke var(--transition);
}
@media screen and (min-width: 768px) {
  .header-logo__svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo__svg {
    width: 59px;
    height: 59px;
  }
}
