img {
  position: relative;
}

.film {
  &__item {
    border-radius: 5px;
    list-style: none;
    flex-basis: 100%;
    max-width: 100%;
    transition: var(--transition);
    &:hover,
    &:focus {
      box-shadow: var(--card-shadow);
      transform: scale(1.02);
      .film__poster {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }

  &__poster {
    object-fit: cover;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    transition: var(--transition);
  }

  &__wrap {
    margin-bottom: 10px;
  }

  &__info {
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 8px;
  }

  &__name {
    color: var(--primary-text-color);
    text-transform: uppercase;
    line-height: 1.16;
  }

  &__ganres {
    line-height: 1.33;
    color: var(--accent-color);
  }
}



@media (min-width: 768px) and (max-width: 1279px) {
  .film {
    &__item {
      flex-basis: calc((100% - 32px) / 2);
    }

    &__poster {
      margin-bottom: 8px;
    }

    &__name {
      line-height: 1.33;
    }

    &__wrap {
      height: 455px;
      margin-bottom: 8px;
    }
  }
}



@media screen and (min-width: 1280px) {
  .film {
    &__item {
      flex-basis: calc((100% - 32px) / 3);
    }

    &__poster {
      margin-bottom: 12px;
    }

    &__info {
      font-size: 20px;
      line-height: 1.2;
    }
    &__wrap {
      height: 574px;
      margin-bottom: 12px;
    }
  }
}
