img {
  position: relative;
}

.film {

  &__item {
    border-radius: 5px;
    list-style: none;
    flex-basis: 100%;
    max-width: 100%;
    transition: var(--transition);

    &:hover,
    &:focus {
      box-shadow: var(--card-shadow);
      transform: scale(1.02);

      .film__poster {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }

  &__poster {
    border-radius: 5px;
    margin-bottom: 10px;
    transition: var(--transition);
  }

  &__info {
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 8px;
  }

  &__name {
    color: #000000;
    text-transform: uppercase;
    line-height: 1.16;
  }

  &__ganres {
    line-height: 1.33;
    color: #B92F2C;
  }
}



// tablet - 768px
@media (min-width: 768px) and (max-width: 1279px) {

  .film {

    &__item {
      flex-basis: calc((100% - 32px) / 2);
    }

    &__poster {
      margin-bottom: 8px;
    }

    &__name {
      line-height: 1.33;
    }

  }


}

// laptop - 1280px
@media screen and (min-width: 1280px) {

  .film {
    &__item {
      flex-basis: calc((100% - 32px) / 3);
    }

    &__poster {
      margin-bottom: 12px;
    }

    &__info {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}